@model Portafolio.ViewModel.InfHomeVM

@{
    ViewData["Title"] = "Información para Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/StInfHome.css" asp-append-version="true" />

<div class="CentrarInfHome">
<form asp-controller="Perfil" asp-action="InformacionHome" method="post">

    <div class="ContenedorInfHome">

        <div class="filtro">
          <div class="InfHome">

            <h1 id="TituloInfHome">Agregar información a Home</h1>

            <div class="centrarItems">


                 <div id="Campo">
                     <label class="Descripcion">Titulo de bienvenida:</label>
                            <input class="Requisito" type="text" class="form-control" asp-for="TituloDeBienvenida" placeholder="Ingresa un titulo" />
                 </div>

                  <div id="Campo">
                      <label class="Descripcion">Descripción de portafolio: </label>
                            <input class="Requisito" type="text" class="form-control" asp-for="DescripcionHome" placeholder="Ingresa la descripción" />
                  </div>

            </div>

            <button type="submit" id="button">Guardar</button>
       
        
          </div>
        </div>

    </div>

</form>
</div>