
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.justificartxt {
    text-align: justify;
}

.centrartxt {
    text-align: center;
}

#ContenedorMenu {
    margin-top: -20px;
}


#tituloPagina {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}


#FondoMenu {
    background-color: #348c84;
    margin: 30px;
    border-radius: 10px;
}

.unirComp {
    display: flex; 
}


#ImgPerfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#IconoDesplegar {
    margin: 6px 0px 0px -10px;
}

#Opciones {
    margin-left: -70px;
    background-color: #34606c;
}

    #Opciones li:hover {
        background-color: black;
    }

.opcion {
    margin: 0 5px;
}

.opcion:hover {
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 10px;
}

#OpcionesPrincipales {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}