@model Portafolio.ViewModel.ContactoVM
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/Contacto.css" asp-append-version="true" />

<div class="centrarCont">
<form asp-controller="Contacto" asp-action="Contacto">
    <div class="ContenedorCont">
        <div class="filtro">

            <div class="Contacto">

                    <h1 id="TituloContacto">Formulario de contacto</h1>
                    <h6 id="Indicacion">Escribe tus dudas o comentarios</h6>
                    
                    <div class="centrarItems">
                        
                        <div class="unirItems">

                           <input type="text" class="requisito1" id="nombre" name="nombre" placeholder="Ingresa tu nombre" />

                           <input type="email" class="requisito2" id="email" name="email" placeholder="correo@ejemplo.com" />
                        </div>

                        <div>
                            <label for="mensaje" class="descripcion">Ingresa un mensaje:</label>
                           <textarea class="requisito" id="mensaje" name="mensaje" rows="3"></textarea>
                        </div>

                        <button type="submit" id="button">Enviar</button>
                    </div>
            </div>
        </div>
    </div>

</form>
</div>
