@model Portafolio.ViewModel.CuentaVM
@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>iniciar sesion</h1>

<div class="overlay"></div>

<form asp-controller="Login" asp-action="Login" method="post">

    <div class="">

        <div class="mb-4">
            <label class="form-label">Correo:</label>
            <input type="text" class="form-control" asp-for="Correo" placeholder="Ingresa tu contraseña" />
        </div>

        <div class="mb-4">
            <label class="form-label">Contraseña</label>
            <input type="text" class="form-control" asp-for="Contrasena" placeholder="Ingresa tu contraseña" />
        </div>

        <div><a asp-action="CrearCuenta" asp-controller="Home">No tengo cuenta</a></div>

        <button type="submit" id="button">Iniciar sesión</button>

        <div><a asp-action="Home" asp-controller="Home">Volver a Home</a></div>

    </div>
</form>

