@model Portafolio.ViewModel.CuentaVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>iniciar sesion</h1>

<form asp-controller="Home" asp-action="Login" method="post">



    <div class="ContenedorLogin">
        <div class="Login">
        
            <h2 class="form-title" id="TituloLogin">Iniciar sesión</h2>
            
            <div class="">
            <label class="form-label">Correo:</label>
            <input type="text" class="form-control" asp-for="Correo" placeholder="Ingresa tu contraseña" />
      
            <label class="form-label">Contraseña</label>
            <input type="text" class="form-control" asp-for="Contrasena" placeholder="Ingresa tu contraseña"/>
        
             <div><a asp-action="CrearCuenta" asp-controller="Home">No tengo cuenta</a></div>
            </div>

            <button type="submit" id="button">Iniciar sesión</button>

        </div>
    </div>
</form> 

<div><a asp-action="Home" asp-controller="Home">Volver a Home</a></div> 